_backup*/
*.log
node_modules/
build_tools/out/
installer-output/
*.pdb
Thumbs.db
sdkjs/deploy/
sdkjs/develop/
web-apps/deploy/
core/Common/3dParty/boost/boost_1_72_0/
core/Common/3dParty/v8/v8/
core/Common/3dParty/v8/depot_tools/
core/Common/3dParty/v8_89/v8/
core/Common/3dParty/v8_89/depot_tools/
core/Common/3dParty/cef/win_64/
core/Common/3dParty/cef/linux_64/
core/Common/3dParty/openssl/openssl/
core/Common/3dParty/curl/curl/
core/Common/3dParty/*/build/
core/build/
desktop-apps/win-linux/build/
web-apps/build/npm_install.log
web-apps/build/grunt_build.log
desktop-apps/common/loginpage/build/npm_install.log
desktop-apps/common/loginpage/build/grunt_build*.log
